@model IEnumerable<AMZEnterprisePortfolio.Models.Portfolio>

@{
    ViewData["Title"] = "Portfolios";
}
@section Scripts
{
    <script>
        Panel.LoadPortfolios('@Url.Action("LoadPortfoliosTable")', '@Url.Action("Edit")');
    </script>
}

<div class="my-5">
    <h1>@ViewData["Title"]</h1>
    <a asp-action="Create" class="btn btn-success py-3 px-5 mt-3 ml-2 my-2">
        Create
        <span class="fa fa-plus"></span>
    </a>
</div>

<table id="jq-table" class="table table-striped table-bordered dt-responsive nowrap table-dark" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technologies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortfolioType)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
</table>